@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Members>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@using Newtonsoft.Json;
@using Umbraco.Web.Models;

@{
    Layout = "Master.cshtml";
}

@{
    var memberService = ApplicationContext.Current.Services.MemberService;
    var members = memberService.GetMembersByGroup("Active");
}

@foreach (var member in members)
{
    if (member.GetValue("photo") != null) {
        string image = member.GetValue<string>("photo");
        if (image != null)
        {
            ImageCropDataSet imageCrop = JsonConvert.DeserializeObject<ImageCropDataSet>(image);
            string imagePath = imageCrop.Src.GetCropUrl(width: 100);
            <img src="@imagePath" />
        }
    }

    <p>
        @member.Name<br>
        @member.GetValue("address")<br>
        @member.GetValue("zip") @member.GetValue("city")) <br>
        Email: @member.Email<br>

        <br />
        Skills:
        @{
            if (member.GetValue("skills") != null)
            {
                string[] skills = member.GetValue("skills").ToString().Split(',');
                string skillString = string.Join(", ", from skill in skills select umbraco.library.GetPreValueAsString(Convert.ToInt32(skill)));
                <span> @skillString </span>
            }
        }
        <br />
    </p>
}